.checkout__section {
  max-width: 236px;
  margin: auto;
  box-shadow: 5px 5px 10px;
  border-radius: 20px;
  padding: 40px;
}
.checkout__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 84px 0;
}

.checkout__fieldset--first {
  border: none;
}

.checkout__section input {
  padding: 8px;
  border-radius: 17px;
}

.checkout__form__div--first {
  display: flex;
  flex-direction: column;
}

.checkout__form__input--radio {
  display: none;
}

.checkout__form__div--radio {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.vipps--label {
  transform: translateY(5px);
}

input[type="radio"]:checked + label {
  border: 2px solid var(--success-green);
}
