.checkout__section {
	max-width: 303px;
	margin: auto;
	padding: 40px 20px;
	background-color: var(--background--light-grey);
}

.checkout__fieldset--first,
.checkout__fieldset--second {
	border: none;
}

.checkout__fieldset--first input {
	background-color: var(--background-grey);
}

.checkout__fieldset--second input {
	background-color: var(--background--light-grey);
}

.checkout__section input {
	padding: 8px;
}

.checkout__form__div--first {
	background-color: var(--background--light-grey);
}

.checkout__form__div--second {
	background-color: var(--background-grey);
	margin-bottom: 20px;
}

.checkout__form__input--radio {
	display: none;
}

.checkout__form__div--radio {
	font-size: 3rem;
	display: flex;
	justify-content: center;
	gap: 8px;
}

input[type="radio"]:checked + label {
	border: 2px solid var(--success-green);
}

@media screen and (min-width: 650px) {
    .checkout__section {
        border-left: 10px solid var(--button--orange);
        right: 23%;
        position: relative;
    }
    
    .checkout__main::after {
        position: absolute;
    }
}    