main {
  display: flex;
  justify-content: center;
  text-align: start;
}

h1,
h2 {
  text-align: start;
}

.content-container {
  padding: 0 10px;
  flex: 1;
}

.contact__section--contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  align-self: start;
}

.contact__section--contact-info p {
  color: var(--small-text--black);
}

.contact__form__button {
  margin: 15px 0;
  width: max-content;
}

.form--contact {
  flex-direction: column;
  color: var(--heading-dark);
  display: flex;
}

.contact__section--contact-info div {
  width: max-content;
}

form input {
  padding: 11px 0;
}

@media screen and (min-width: 650px) {
  .form--contact {
    margin: 0;
  }

  .content-container {
    padding: 0 85px;
  }
  .contact--background {
    background: url(../Backgrounds/thom-holmes-x1Knd2yopZI-unsplash-contact5.jpg)
      no-repeat right;
    background-size: cover;
    width: 100%;
    flex: 1;
  }
}
