main {
  display: flex;
  justify-content: center;
}

.content-container {
  padding: 0 85px;
}

.contact__section--contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  align-self: start;
}

.contact__section--contact-info p {
  color: var(--small-text--black);
}

.contact__div--visit-us {
  background-color: white;
  padding: 5px;
}

.form--contact {
  flex-direction: column;
  color: var(--heading-dark);
}

.form--container {
  background-color: white;
}

.form--container input {
  padding: 11px 0;
}

@media screen and (min-width: 650px) {
  .form--contact {
    margin: 0;
  }

  .contact--background {
    background: url(../Backgrounds/thom-holmes-x1Knd2yopZI-unsplash-contact5.jpg)
      no-repeat right;
    background-size: cover;
    width: 100%;
  }
}
