:root {
  --header-footer: white;
  --header-footer--pressed: #9c511f;
  --button--orange: #ff8822;
  --background-white: #f5f5f5;
  --background-grey: #d9d9d9;
  --blue: #0093b3;
  --heading-white: #ffffff;
  --heading-dark: #000000;
  --contact-brown: #b3590c;
  --h1__font-size: 2rem;
  --background--light-grey: #f0f0f0;
  --border-radius: 8px;
  --success-green: #094200;
  --small-text--black: #000000;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

main {
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

fieldset {
  box-shadow: 1px 1px 0px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 14px;
}

/* Headings  */
h1,
h2,
h3 {
  text-align: center;
  font-family: "Noto Serif", serif;
  text-shadow: 0px 0px 6px rgb(255, 255, 255);
}
h1 {
  font-size: var(--h1__font-size);
}

/* buttons */

.btn {
  padding: 11px 20px;
  border-radius: 17px;
  background: var(--button--orange);
  display: block;
  font-size: 1rem;
  font-family: "Noto Serif";
  box-sizing: border-box;
  min-width: 205px;
  text-align: center;
  color: var(--small-text--black);
  font-weight: 700;
  box-shadow: 1px 1px black;
  border: rgb(0, 0, 0) 1px solid;
}

.btn--list {
  background: var(--button--orange);
  font-size: 0.8rem;
  font-family: "Noto Serif";
  text-align: center;
  color: var(--small-text--black);
  border-radius: 6px;
  max-width: 136px;
  border: rgb(0, 0, 0) 1px solid;
  box-sizing: border-box;
  padding: 2px;
  margin-top: 10px;
}
.btn--second {
  background: white;
  border: orange 1px solid;
  box-shadow: 1px 1px black;
}

.btn--small {
  min-width: max-content;
}

.btn:hover {
  background-color: #a75723;
}

.back-arrow {
  color: #000000;
  padding: 10px;
  position: fixed;
  top: 11%;
  z-index: 3000;
}

.error {
  color: #b40505;
}

.success-message {
  color: #006400;
}

input[type="radio"] {
  display: none;
}

.label--radio {
  padding: 14px;
  border-radius: 5px;
}

input[type="radio"]:checked + label {
  border: solid 2px orange;
}

.imgPopUp {
  width: 20%;
}

.button--x {
  align-self: end;
}

.popUp--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.stars {
  display: flex;
}

.popUp {
  display: none;
  position: fixed;
  z-index: 10000;
  background: #ffffff;
  top: 15%;
  left: 30%;
  right: 30%;
  border: 1px solid black;
  padding-bottom: 28px;
  border-radius: 15px;
  min-width: 224px;
}
