header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2500;
}
.nav__icon--cart {
  font-size: 12px;
  position: absolute;
  right: 74px;
  bottom: 15px;
}

.button--cart {
  background-color: var(--header-footer);
  border: none;
}

.button--cart:active {
  background-color: var(--header-footer--pressed);
  box-shadow: 0px 0px 1px black;
}

.redNumber {
  color: var(--success-green);
  font-weight: bold;
  font-size: 0.7rem;
}

.fa-bars {
  position: absolute;
  right: 9px;
  top: 16px;
  font-size: 22px;
}

header,
footer {
  padding: 5px 10px;
  background-color: var(--header-footer);
}

footer a {
  color: var(--small-text--black);
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__img--logo {
  width: 75px;
}

nav {
  padding: 8vh 3vh;
  background: #b1b1b1fa;
  right: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}
#hamburger-menu {
  z-index: 2000;
}

.hamburger-menu__icon {
  position: fixed;
  z-index: 3000;
  right: 9px;
}

nav,
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav ul {
  list-style: none;
}

nav li {
  padding: 13px;
  border-radius: 12px;
}

.nav__li--active {
  background-color: var(--button--orange);
}

nav a {
  color: var(--small-text--black);
  display: flex;
}

.shopping-cart {
  display: none;
  position: absolute;
  background: black;
  top: 100%;
  right: 21px;
  color: white;
  overflow-y: scroll;
  height: 250px;
  padding: 28px;
  border-radius: 17px;
  background: white;
  border: var(--button--orange) solid 4px;
  color: var(--small-text--black);
}
.shopping-cart img {
  width: 23px;
}

.p--cart {
  max-width: 322px;
}

.h2--cart {
  text-shadow: none;
  background-color: white;
}

.removeFromCart {
  border-radius: 8px;
  background: white;
  border: solid var(--button--orange);
}

.removeFromCart:active {
  background-color: var(--button--orange);
  color: white;
}

@media screen and (min-width: 650px) {
  .hamburger-menu__icon {
    display: none;
  }

  nav {
    display: flex;
    padding: 0 0 0 0;
    background: none;
    right: 93px;
    position: fixed;
    top: 0px;
    width: revert;
  }

  nav li {
    display: inline-block;
  }
  nav a {
    color: var(--small-text--black);
    display: inline;
  }

  .nav__icon--cart {
    font-size: 12px;
    position: absolute;
    right: 25px;
    bottom: 19px;
    z-index: 10000;
  }
  .nav__li--active a {
    color: var(--small-text--black);
  }

  nav ul {
    display: flex;
    margin: 3px;
    gap: 45px;
  }
}
