header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2500;
}
.nav__icon--cart {
  font-size: 12px;
  position: absolute;
  right: 25px;
  bottom: 38px;
  z-index: 10000;
}

.redNumber {
  color: var(--success-green);
  font-weight: bold;
  font-size: 0.7rem;
}

.fa-bars {
  position: absolute;
  right: 9px;
  top: 16px;
  font-size: 22px;
}

header,
footer {
  padding: 5px 10px;
  background-color: var(--header-footer);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__img--logo {
  width: 75px;
}

nav {
  padding: 8vh 3vh;
  background: var(--background-grey);
  right: 0;
  position: absolute;
  top: 0px;
}
#hamburger-menu {
  z-index: 2000;
}

.hamburger-menu__icon {
  position: fixed;
  z-index: 3000;
  right: 9px;
}

nav,
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav ul {
  list-style: none;
}

nav li {
  padding: 13px;
  border-radius: 12px;
}

.nav__li--active {
  background-color: var(--button--orange);
}

nav a {
  color: var(--small-text--black);
}

@media screen and (min-width: 650px) {
  .hamburger-menu__icon {
    display: none;
  }

  nav {
    display: flex;
    padding: 0 0 0 0;
    background: none;
    right: 0;
    position: fixed;
    top: 0px;
  }

  nav li {
    display: inline-block;
  }
  nav a {
    color: var(--heading-white);
  }

  .nav__li--active a {
    color: var(--small-text--black);
  }

  nav ul {
    display: flex;
    margin: 3px;
    gap: 45px;
  }
}
