main {
  padding: 40px;
}

.product-specific--flex {
  display: flex;
}

.product-specific--flex h3 {
  text-align: start;
}
.product-specific__container--buttons {
  display: flex;
}

.product-specific__img {
  max-width: 39%;
}

.comments {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.comment__p {
  max-width: 40%;
}
.comment__span {
  font-weight: bold;
}

.comments__h2 {
  align-self: center;
}

.product-specific__div {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
  position: static;
  max-width: 400px;
  background: none;
  float: none;
}

.product-specific__section {
  right: 20%;
  bottom: 0%;
}

.container--buttons {
  gap: 8px;
  display: flex;
  padding: 14px 0;
}

.imgPopUp {
  width: 20%;
}

.button--x {
  align-self: end;
}

.popUp--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.stars {
  display: flex;
}

.popUp {
  display: none;
  position: fixed;
  z-index: 10000;
  background: #ffffff;
  top: 15%;
  left: 30%;
  right: 30%;
  border: 1px solid black;
  padding-bottom: 28px;
  border-radius: 15px;
  min-width: 224px;
}

.h3--popUp {
  color: green;
}
