.product-specific__container--buttons {
  display: flex;
}

.product-specific__section {
  position: relative;
  margin-bottom: 40px;
}

.product-specific__h1 {
  margin: 92px 0 0 0;
}

.product-specific__div {
  position: relative;
  z-index: 1000;
  right: 0;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  background-color: var(--background--light-grey);
  max-width: 400px;
  border-radius: 108px 0px 0px 108px;
  float: right;
}

.product-specific__img {
  max-width: 39%;
  margin: 40px 0 0 0;
}

.product-specific__div--name-and-price {
  align-self: flex-start;
  font-size: 1.4rem;
  margin-left: 20px;
}

.product-specific__p--name,
.product-specific__p--price {
  margin: 0;
}

.comments {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.comment__p {
  max-width: 40%;
}
.comment__span {
  font-weight: bold;
}

.comments__h2 {
  align-self: center;
}

hr {
  width: 70%;
  color: var(--button--orange);
  align-self: flex-start;
}

@media screen and (min-width: 650px) {
  .product-specific__div {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: static;
    max-width: 400px;
    background: none;
    float: none;
  }
  .product-specific__main::after {
    content: "";
    background-color: var(--background--light-grey);
    padding: 172% 53% 0% 20%;
    clip-path: ellipse(80% 38% at 121% 76%);
    z-index: -2;
    position: relative;
    bottom: -300px;
    left: 27%;
    bottom: 0;
  }

  .product-specific__main::before {
    content: "";
    background: url(/images/RainyDays_Logo.png) no-repeat;
    padding: 40px;
    background-size: contain;
    min-height: 60px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 289px;
    z-index: 2000;
    margin-right: 4%;
  }

  .product-specific__section {
    right: 20%;
    bottom: 0%;
  }
}

input[type="radio"] {
  display: none;
}

.label--radio {
  padding: 14px;
  border-radius: 5px;
}

select {
  padding: 8px 0px;
}

input[type="radio"]:checked + label {
  border: solid 2px orange;
}

.container--buttons {
  gap: 8px;
  display: flex;
  padding: 14px;
}

.imgPopUp {
  width: 20%;
}

.button--x {
  align-self: end;
}

.popUp--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.stars {
  display: flex;
}

.popUp {
  display: none;
  position: fixed;
  z-index: 10000;
  background: #ffffff;
  top: 15%;
  left: 30%;
  right: 30%;
  border: 1px solid black;
  padding-bottom: 28px;
}

.h3--popUp {
  color: green;
}
