main {
  padding: 40px;
}

.product-specific__h1 {
  flex-basis: 100%;
}
.product-specific__div {
  flex: 1;
  display: flex;
  justify-content: center;
}

h3 {
  text-align: start;
}

.product-specific--description {
  max-width: 500px;
}

.product-specific--second-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product-specific--flex h3 {
  text-align: start;
}
.product-specific__container--buttons {
  display: flex;
}

.comments {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.comment__p {
  max-width: 40%;
}
.comment__span {
  font-weight: bold;
}

.comments__h2 {
  align-self: center;
}

.product-specific__div {
}

.product-specific__section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container--buttons {
  gap: 8px;
  display: flex;
  padding: 14px 0;
}

.imgPopUp {
  width: 20%;
}

.button--x {
  align-self: end;
}

.popUp--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.stars {
  display: flex;
}

.popUp {
  display: none;
  position: fixed;
  z-index: 10000;
  background: #ffffff;
  top: 15%;
  left: 30%;
  right: 30%;
  border: 1px solid black;
  padding-bottom: 28px;
  border-radius: 15px;
  min-width: 224px;
}

.h3--popUp {
  color: green;
}

@media screen and (min-width: 650px) {
  .product-specific__section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .product-specific__div {
    max-width: 35%;
  }
}
