:root {
  --header-footer: #a75723;
  --button--orange: #ff8822;
  --background-white: #f5f5f5;
  --background-grey: #d9d9d9;
  --blue: #0093b3;
  --heading-white: #ffffff;
  --heading-dark: #000000;
  --h1__font-size: 2.5rem;
  --background--light-grey: #f0f0f0;
  --border-radius: 8px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: white;
}

/* Navigation  */

header {
  display: flex;
  justify-content: space-between;
}

header,
footer {
  padding: 5px 10px;
  background-color: var(--header-footer);
}

.header__img--logo {
  max-width: 20%;
}

nav {
  padding: 8vh 3vh;
  background: var(--background-grey);
  right: 0;
  position: fixed;
  top: 0px;
}
#hamburger-menu {
  z-index: 2000;
}
nav,
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav ul {
  list-style: none;
}

nav li {
  padding: 13px;
  border-radius: 12px;
}

.active {
  background-color: var(--button--orange);
}

/* Headnings  */
h1,
h2,
h3 {
  text-align: center;
  font-family: "Noto Serif", serif;
}
h1 {
  font-size: var(--h1__font-size);
}

/*Homepage*/
/*Contact */
/*About */

.about__main {
  background: url(../Backgrounds/fabrizio-conti-xPFhK0MGsyw-unsplash-re100.jpg)
    no-repeat top;
  background-size: cover;
}
.about__section-main {
  background: var(--background-grey);
  max-width: 40%;
  margin: 0 auto 20px;
  padding: 5% 10% 5% 10%;
  border-radius: 8px;
}

.about__h1 {
  margin-top: 200px;
  color: var(--heading-white);
}
/*your order */
/*Order-success */
/*checkout */
/*Product list*/

.product-list__main {
  background-color: var(--background-grey);
}

.product-list__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.product-list__card {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background--light-grey);
  margin: 5px;
  border-radius: var(--border-radius);
  justify-content: center;
  padding-top: 15px;
}

.product-list__card img {
  max-height: 179px;
  width: auto;
}

.product-list__div--name-and-price {
  background-color: var(--background-white);
  min-width: 100%;
  border-radius: var(--border-radius);
}
.product-list__div--name-and-price p {
  margin: 0;
  text-align: start;
}
/*Product spesific*/
