:root {
  --header-footer: #a75723;
  --button--orange: #ff8822;
  --background-white:#F5F5F5;
  --background-grey:#D9D9D9;
  --blue:#0093B3;
}




/*Homepage*/
/*Contact */
/*About */
/*your order */
/*Order-success */
/*checkout */
/*Product list*/
/*Product spesific*/