.your-order__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.small-image {
  width: 20px;
}

.your-order__h1 {
  position: relative;
  top: 45px;
}

.your-order__div--content {
  border-radius: 40px;
  padding: 28px 20px;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.removeFromCart {
  border-radius: 8px;
  background: white;
  border: solid var(--button--orange);
}

.removeFromCart:active {
  background-color: var(--button--orange);
  color: white;
}

.your-order__div--content p {
  max-width: 510px;
}

table {
  border-collapse: collapse;
  font-size: 1rem;
}

td {
  width: 23px;
}

.your-order__table__tr--shipping {
  background-color: var(--background--light-grey);
}

@media screen and (min-width: 1000px) {
  .your-order__main {
    min-height: 100vh;
  }

  .your-order__section {
    position: absolute;
  }

  .your-order__main::before {
    content: "";
    background: url(/images/RainyDays_Logo.png) no-repeat;
    padding: 40px;
    background-size: contain;
    min-height: 60px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 317px;
    z-index: 2000;
  }

  .your-order__main::after {
    content: "";
    height: 0;
    width: 0;
    border-right: 400px solid var(--background--light-grey);
    border-top: 400px solid transparent;
    border-bottom: 400px solid transparent;
    float: right;

    top: 58px;
    right: 0;
    z-index: -1;
  }
}
